# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-filesnn# dependenciesnnode_modules/nn# Expon.expo/nndist/nnweb-build/nnexpo-env.d.tsnn# Nativen.kotlin/nn*.orig.*n*.jksn*.p8n*.p12n*.keyn*.mobileprovisionnn# Metron.metro-health-check*nn# debugnnpm-debug.*nyarn-debug.*nyarn-error.*nn# macOSn.DS_Storen*.pemnn# local env filesn.env*.localnn# typescriptn*.tsbuildinfonnapp-example